.project
.settings
build.log
build-log.xml
**/*.iml
*.iml
**/.project
**/.settings
**/.classpath
**/bin
**/gen
**/gen-external-apklibs
**/target
**/run
**/proguard_logs
**/git_properties
**/.DS_Store

/filecache/development.conf

/server/standalone.conf

/server/src/main/resources/git.properties
